<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Badges - Portifolio 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">badge</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      
      <ion-badge color="primary" slot="end">11</ion-badge>
      <ion-icon name="airplane" aria-hidden="true" slot="start"></ion-icon>
      <ion-label>Minha primeira badge</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="success" slot="end">22</ion-badge>
      <ion-icon name="airplane" aria-hidden="true" slot="start"></ion-icon>
      <ion-label>Minha segunda Badge</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
